extends layout

block content
  section#one.wrapper.style2.special
    header.major
      h1= message
      h2= error.status 
      p
        | #{error.stack}
      br
    ul.icons.major
      li
        span.icon.fa-camera-retro
          span.label Shoot
      li
        span.icon.fa-refresh
          span.label Process
      li
        span.icon.fa-cloud
          span.label Upload