extends layout

block content
  // One
  section#one.wrapper.style2.special
    header.major
      h2.major.alt Captured Traffic Data
      sup.content
        blockquote #{obj}

      hr
      h3 A Brief Summary
      sub 
        br 
        | Morbi mattis ornare ornare. Duis quam turpis, gravida at leo 
        br 
        | elementum elit fusce accumsan dui libero, quis vehicula lectus 
        br 
        | ultricies eu. In convallis amet leo non sapien iaculis efficitur consequat lorem ipsum.
    ul.icons.major
      li
        span.icon.fa-camera-retro
          span.label Shoot
      li
        span.icon.fa-refresh
          span.label Process
      li
        span.icon.fa-cloud
          span.label Upload
  // Three
  section#three.wrapper.style2.special
    header.major
      h2.major Features Implemented
      h3 
        | Use await gatherResponse(..) in an async function to get the response body.
        hr
        | Conditionals to handle requests (e.g. redirect url if request is made via curl command)
        hr
        | Adds custom header to all other requests made for tracking purposes.
        br
        | &#x9;&#x9;&#x9;&#x9;When a user makes a curl command to parse the website, the cloud worker ensures a redirect is made.
    ul.actions
      //- li
      //-   a.button.special.icon.fa-download(href='#') Download
      li
        a.button(href='#') Learn More 
  // Two
  section#two.wrapper
    .inner.alt
      section.spotlight
        .image
          img(src='images/pic01.jpg' alt='')
        .content
          h3 Experience
          p
            | Morbi mattis ornare ornare. Duis quam turpis, gravida at leo elementum elit fusce accumsan dui
            | libero, quis vehicula lectus ultricies eu. In convallis amet leo non sapien iaculis efficitur
            | consequat lorem ipsum.
      section.spotlight
        .image
          img(src='images/pic02.jpg' alt='')
        .content
          h3 Argo Tunnels / Cloudflare Workers
          p
            | Morbi mattis ornare ornare. Duis quam turpis, gravida at leo elementum elit fusce accumsan dui
            | libero, quis vehicula lectus ultricies eu. In convallis amet leo non sapien iaculis efficitur
            | consequat lorem ipsum.
      section.spotlight
        .image
          img(src='images/pic02.jpg' alt='')
        .content
          h3 Prospectus / Takeaways
          p
            | Morbi mattis ornare ornare. Duis quam turpis, gravida at leo elementum elit fusce accumsan dui
            | libero, quis vehicula lectus ultricies eu. In convallis amet leo non sapien iaculis efficitur
            | consequat lorem ipsum.
      section.special
        ul.icons.labeled
          li
            span.icon.fa-camera-retro
              span.label Ipsum lorem accumsan
          li
            span.icon.fa-refresh
              span.label Sed vehicula elementum
          li
            span.icon.fa-cloud
              span.label Elit fusce consequat
          li
            span.icon.fa-code
              span.label Lorem nullam tempus
          li
            span.icon.fa-desktop
              span.label Adipiscing amet sapien
  section#four.wrapper
    .inner
      header.major
        h2 The Cloud Worker
        | curl.clout.workers.dev
      section
        h2 Use await gatherResponse(..) in an async function to get the response body.
        h2 Conditionals to handle requests (e.g. redirect url if request is made via curl command)
        blockquote When a user makes a curl command to parse the website, the cloud worker ensures a redirect is made.
        h2 Adds custom header to all other requests made for tracking purposes.
        //- p
        //-   | This is 
        //-   b bold
        //-   |  and this is 
        //-   strong strong
        //-   | . This is 
        //-   i italic
        //-   |  and this is
        //-   em emphasized
        //-   | .
        //-   | &#x9;&#x9;&#x9;&#x9;&#x9;This is 
        //-   sup superscript
        //-   |  text and this is 
        //-   sub subscript
        //-   |  text.
        //-   | &#x9;&#x9;&#x9;&#x9;&#x9;This is 
        //-   u underlined
        //-   |  and this is code: 
        //-   code for (;;) { ... }
        //-   | . Finally, 
        //-   a(href='#')
        //-     | this
        //-     | is a link
        //-   | .
  //-       //- header
  //-       //-   h4 Heading with a Subtitle
  //-       //-   p Lorem ipsum dolor sit amet nullam id egestas urna aliquam
  //-       //- p
  //-       //-   | Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non
  //-       //-   | faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan
  //-       //-   | varius montes viverra nibh in adipiscing blandit tempus accumsan.
  //-       //- header
  //-       //-   h5 Heading with a Subtitle
  //-       //-   p Lorem ipsum dolor sit amet nullam id egestas urna aliquam
  

      

