extends layout

block content
  // One
  section#one.wrapper.style2.special
    header.major
      h2.major.alt HTTP Request Headers 
      sup.content
        blockquote(style='\
  overflow: overlay;\
  text-overflow: clip;\
  ') #{obj}
      hr
      h3 A Brief Summary
      sub 
        br 
        | The Node.JS app is deployed as a versioned container on Google App Engine(Cloud Storage Buckets). The app UI/UX is mobile-friendly & adaptable across-platforms.  
        br 
        | Express/pug frameworks are implemented to deliver template rendering with functionality to return a json containing all request headers.
        br
        br
        h4
          b Secured/Configured For End-To-End Encryption 
        | All traffic is redirected to HTTPS scheme with enforced HSTS policies and enabled constraints to use the best version of TLS for various traffic. 
        br
        | The Cloudflare Origin CA certificate is installed on the app server; ensuring full encryption of traffic secured with Elliptic Curve algorithms. The root ca is signed by a trusted and verified Google provided root authority.
        br 
        | Firewall rules have been configured on both CloudFlare and GCP to control traffic via filters based on cookies, location, IP address, user agent, URI, and more.
        br
        br
        h4
          b Availability/Performance 
        | Argo Smart Routing and Tiered Caching have been enabled and additional health checks are configured to monitor the availability, security, performance of the origin server.
        br
        | Despite minifying some of the assets of the view in the NodeJS, CloudFlare is also enabled to resize, optimize and preload/prefetch images and other resources. 
    ul.icons.major
      li
        span.icon.fa-camera-retro
          span.label Shoot
      li
        span.icon.fa-refresh
          span.label Process
      li
        span.icon.fa-cloud
          span.label Upload
  section#four.wrapper
    .inner
      header.major
        h2 The Clout Worker
        code www.curl.clout.workers.dev
      section
        h4
          b  The cloud worker is enabled to provide edge level handling of traffic across all HTTP requests and responses made, and in case of certain conditions, redirect appropriate requests/generate responses from the edge.
        p With the implementation of multiple asynce functions with eventlisteners to await for curl requests made by certain user agents and handle the traffic redirection.
        p When a user makes a curl command to parse the website, the cloud worker ensures a redirect is made unless params for no-redirect are requested.
        p Custom headers are appended to all requests made across the site for tracking purposes. 
        br
        
        b  You can view the custom tracking headers in the section of request headers above.
        h4
        b  Request Header From Cloud Worker:
        code X-CLOUDFLARE-CURL-WORKER-ADDED
  // Three
  //- section#three.wrapper.style2.special
  //-   header.major
  //-     h2.major Features Implemented
  //-     h3 
  //-       | Use await gatherResponse(..) in an async function to get the response body.
  //-       hr
  //-       | Conditionals to handle requests (e.g. redirect url if request is made via curl command)
  //-       hr
  //-       | Adds custom header to all other requests made for tracking purposes.
  //-       br
  //-       | &#x9;&#x9;&#x9;&#x9;When a user makes a curl command to parse the website, the cloud worker ensures a redirect is made.
  //-   ul.actions
  //-     //- li
  //-     //-   a.button.special.icon.fa-download(href='#') Download
  //-     li
  //-       a.button(href='#') Learn More 
  // Two
  section#two.wrapper
    .inner.alt
      section.spotlight
        .image
          img(src='images/pic01.jpg' alt='')
        .content
          h3 Experience
          p
            | Morbi mattis ornare ornare. Duis quam turpis, gravida at leo elementum elit fusce accumsan dui
            | libero, quis vehicula lectus ultricies eu. In convallis amet leo non sapien iaculis efficitur
            | consequat lorem ipsum.
      section.spotlight
        .image
          img(src='images/pic02.jpg' alt='')
        .content
          h3 Argo Tunnels / Cloudflare Workers
          p
            | Morbi mattis ornare ornare. Duis quam turpis, gravida at leo elementum elit fusce accumsan dui
            | libero, quis vehicula lectus ultricies eu. In convallis amet leo non sapien iaculis efficitur
            | consequat lorem ipsum.
      section.spotlight
        .image
          img(src='images/pic02.jpg' alt='')
        .content
          h3 Prospectus / Takeaways
          p
            | Morbi mattis ornare ornare. Duis quam turpis, gravida at leo elementum elit fusce accumsan dui
            | libero, quis vehicula lectus ultricies eu. In convallis amet leo non sapien iaculis efficitur
            | consequat lorem ipsum.
      section.special
        ul.icons.labeled
          li
            span.icon.fa-camera-retro
              span.label Ipsum lorem accumsan
          li
            span.icon.fa-refresh
              span.label Sed vehicula elementum
          li
            span.icon.fa-cloud
              span.label Elit fusce consequat
          li
            span.icon.fa-code
              span.label Lorem nullam tempus
          li
            span.icon.fa-desktop
              span.label Adipiscing amet sapien

        //- p
        //-   | This is 
        //-   b bold
        //-   |  and this is 
        //-   strong strong
        //-   | . This is 
        //-   i italic
        //-   |  and this is
        //-   em emphasized
        //-   | .
        //-   | &#x9;&#x9;&#x9;&#x9;&#x9;This is 
        //-   sup superscript
        //-   |  text and this is 
        //-   sub subscript
        //-   |  text.
        //-   | &#x9;&#x9;&#x9;&#x9;&#x9;This is 
        //-   u underlined
        //-   |  and this is code: 
        //-   code for (;;) { ... }
        //-   | . Finally, 
        //-   a(href='#')
        //-     | this
        //-     | is a link
        //-   | .
  //-       //- header
  //-       //-   h4 Heading with a Subtitle
  //-       //-   p Lorem ipsum dolor sit amet nullam id egestas urna aliquam
  //-       //- p
  //-       //-   | Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non
  //-       //-   | faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan
  //-       //-   | varius montes viverra nibh in adipiscing blandit tempus accumsan.
  //-       //- header
  //-       //-   h5 Heading with a Subtitle
  //-       //-   p Lorem ipsum dolor sit amet nullam id egestas urna aliquam
  

      

