doctype html
head
  title= CloutFlare
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  //if lte IE 8
    script(src='assets/js/ie/html5shiv.js')
  link(rel='stylesheet' href='assets/css/main.min.css')
  //if lte IE 8
    link(rel='stylesheet' href='assets/css/ie8.css')
  //if lte IE 9
    link(rel='stylesheet' href='assets/css/ie9.css')
// Header
header#header
  .content
    h1
      a(href='#') CloutFlare
    h3 A NodeJS app on Google Cloud Platform (AppEngine) 
    em Integrated/optimized with CloudFlare/CloudFlare Workers
    hr
    ul.actions
      li
        a.button.icon.small.fa-info.scrolly(href='#one') Request Headers 
      li
        a.button.special.icon.small.fa-chevron-down.scrolly(href='#four') The Clout Worker
      li
        a.button.special.icon.small.fa-download.scrolly(href='#one') Implementation

  .image.phone
    .inner
      img(src='images/screen.jpg' alt='')
//////////////////////////
block content
//////////////////////////
// Footer
footer#footer
  ul.icons
    li
      a.icon.fa-github(href='https://github.com/shivanahmady/cloutflare')
        span.label GitHub
  p.copyright By Shivan A.
  sub 
  | www.cloutflare.net

// Scripts
script(src='assets/js/jquery.min.js')
script(src='assets/js/jquery.scrolly.min.js')
script(src='assets/js/skel.min.js')
script(src='assets/js/util.min.js')
//if lte IE 8
  script(src='assets/js/ie/respond.min.js')
script(src='assets/js/main.min.js')